*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

main > kbd{
    height: 100px;
    width: 130px;
    background: linear-gradient(to bottom, #252626 0%,#101010 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #373737;
    color: #B9B9B9;
    border-radius: 14px;
}

kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button{
    display: inline-block
}

main{
    text-align: center;
}

#zhangsan{
    display: inline-block;
    border: 1px solid blue;
}

#zhangsan > div:nth-child(2){
    margin-left: 0.6em;
}

#zhangsan > div:nth-child(3){
    margin-left: 0.8em;
}

