*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

kbd{
    /*border: 1px solid red;*/
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

.key{
    height: 60px;
    width: 78px;
    background: linear-gradient(to bottom, #252626 0%,#101010 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #373737;
    color: #B9B9B9;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.key .text {
    position: absolute;
    left: 10px;
    top: 2px;
}

.row{
    margin: 30px;
}

.row .key{
    margin: 0 7px;
}

/*#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #FACCE5;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}*/

kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button{
    display: inline-block
}

body{
    height: 100vh;
    background-size: cover;
    background: grey url(./image/background8-min.jpg) no-repeat center center;
}

main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#zhangsan{
    display: inline-block;
    background: rgba(255,255,255,0.2);
    border-radius: 15px;
}

#zhangsan > div:nth-child(2){
    margin-left: -25px;
}

#zhangsan > div:nth-child(3){
    margin-left: -130px;
}

.key img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    bottom: 4px;
}

